.arrow {
    border: solid rgba(209, 213, 220, 0.5);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

@media (max-width: 768px) {
    .arrow {
        padding: 8px;
    }
}

.arrow:nth-child(2) {
    animation: arrow1 1.5s ease-in-out infinite;
}

.arrow:nth-child(3) {
    animation: arrow2 1.5s ease-in-out infinite;
}

@keyframes arrow1 {
    from {
        opacity: 1;
        transform: translateY(0) translateX(-50%) rotate(45deg);
    }

    to {
        opacity: 0;
        transform: translateY(30px) translateX(-50%) rotate(45deg);
    }
}

@keyframes arrow2 {
    from {
        opacity: 1;
        transform: translateY(0) translateX(-50%) rotate(45deg);
    }

    to {
        opacity: 0;
        transform: translateY(60px) translateX(-50%) rotate(45deg);
    }
}