.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 3s ease;
    /* z-index: -10; */
}

.canvas[data-visible="true"] {
    opacity: 1;
}