.canvas {
    position: absolute;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s ease;
    /* z-index: -10; */
}

.canvas[data-visible="true"] {
    opacity: 1;
}