.projectTag {
    position: absolute;
    width: 50%;
    left: 40%;
    bottom: 24%;
    z-index: 0;
}

@media (min-width: 768px) {
    .projectTag {
        width: 60%;
        left: auto;
        transform: translateY(50%);
        right: 7rem;
        bottom: 31%;
    }
}

.textarea {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
    margin-bottom: 6rem;
    width: 100%;
    max-width: 28rem;
    margin-inline: auto;
}

@media (min-width: 632px) {
    .textarea {
        z-index: 10;
        margin-top: -8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        order: 2;
        margin-bottom: 6rem;
        width: 100%;
        max-width: 28rem;
        margin-inline: auto;
    }

}

@media (min-width: 768px) {
    .textarea {
        margin-left: 0;
        margin-top: 0rem;
        margin-right: 0;
        width: 33.333333%;
        display: block;
        order: 1;
    }
}