.projectTag {
    position: absolute;
    width: 60%;
    left: 38%;
    bottom: 20%;
    z-index: 0;
}

@media (min-width: 768px) {
    .projectTag {
        width: 60%;
        left: 37%;
        transform: translateY(50%);
        right: 7rem;
        bottom: 23%;
    }
}

.textarea {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
    margin-bottom: 6rem;
    width: 100%;
    max-width: 28rem;
}


@media (min-width: 1024px) {
    .textarea {
        margin-left: 0;
        margin-top: 0rem;
        margin-right: 0;
        width: 33.333333%;
        display: block;
        order: 1;
    }
}