.projectTag {
    position: absolute;
    width: 50%;
    left: 40%;
    bottom: 25%;
    z-index: 0;
}

@media (min-width: 768px) {
    .projectTag {
        width: 100%;
        left: auto;
        transform: translateY(50%);
        right: -70%;
        bottom: 30%;
    }
}

.textarea {
    z-index: 10;
    width: 100%;
    max-width: 20rem;
    /* max-w-sm = 384px */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
}

@media (min-width: 768px) {
    .textarea {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        width: 33.333333%;
        display: block;
        order: 1;
    }
}