.projectTag {
    position: absolute;
    width: 50%;
    left: 40%;
    bottom: 28%;
    z-index: 0;
}

@media (min-width: 768px) {
    .projectTag {
        width: 60%;
        left: auto;
        transform: translateY(50%);
        right: 7rem;
        bottom: 35%;
    }
}

.textarea {
    z-index: 10;
    display: flex;
    padding-left: 3rem;
    flex-direction: column;
    align-items: flex-start;
    /* Left-align text inside */
    order: 2;
    margin-bottom: 6rem;
}

@media (min-width: 768px) {
    .textarea {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        width: 33.333333%;
        display: block;
        order: 1;
    }
}