.projectTag {
    position: absolute;
    width: 60%;
    left: 30%;
    bottom: 20%;
    z-index: 0;
}

@media (min-width: 768px) {
    .projectTag {
        width: 55%;
        left: 38%;
        transform: translateY(50%);
        right: 7rem;
        bottom: 26%;
    }
}

@media (min-width: 1024px) {
    .projectTag {
        width: 60%;
        left: 32%;
        transform: translateY(50%);
        right: 7rem;
        bottom: 28%;
    }
}

.textarea {
    max-width: 28rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}